@import 'styles/vars';

.share-sns {
  text-align: center;

  &__title {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 26px;
    font-weight: bold;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 1px;
      height: 100%;
      background: #000;
      border-radius: 3px;
      transform: rotate(-25deg);
    }

    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background: #000;
      border-radius: 3px;
      transform: rotate(25deg);
    }
  }
}
