@import 'styles/vars';

.completion-action-item {
  &__amount-container {
    height: 80px;
    width: 80px;
    line-height: 140%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
